.custom-btn {
  font-size: $small;
  border-radius: 2.8rem;
  border: 1px solid transparent;
  padding: 0.5rem 0.7rem;
  background-color: $nickel;
  color: $white;
  border-color: $nickel;
  outline: none;

  @include respond-to("medium") {
    font-size: $medium;
    margin-right: 0.5rem;
  }

  &:focus,
  &:active,
  &:visited {
    border: 2px solid $light-gray;
  }

  &:hover {
    background-color: $light-gray;
    color: $white;
    border-color: $light-gray;
  }
}
